.warp {
  width: max-content;
  position: relative;
  display: inline-block;
}

.main {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--ayong-radius);
  padding: 0 4px 4px 9px;
  box-sizing: border-box;
  font: 400 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid var(--ayong-grey);

  input {
    width: 95%;
    outline: none;
    border: none;
    background: transparent;
    color: var(--ayong-dark-green-gray);
  }
}
.ssshhhmmInput {
  background: transparent;
}
.mainHover {
  &:hover {
    border: 1px solid var(--ayong-primary);

    .pickerCollapse,
    .pickerWrong {
      fill: var(--ayong-primary);
    }
  }
}

//less 混入 @minxin

//分割线
.tshanHien {
  &:after {
    position: absolute;
    content: "";
    width: 106%;
    transform: translateX(-3%);
    height: 1px;
    bottom: -2px;
    background: var(--ayong-premium-grey);
  }
}

.input {
  width: 95%;
  outline: none;
  background: transparent;
  border: 1px solid var(--ayong-grey);
  border-radius: var(--ayong-radius);
  color: var(--ayong-dark-green-gray);
  padding: 4.5px 3px;
}

.pickerWrong {
  display: none;
}

.hoverMain&:hover {
  & {
    .pickerCollapse {
      display: none;
    }
  }

  & {
    .pickerWrong {
      display: block;
    }
  }
}

.baseCalendarabsolute {
  position: absolute;
  left: 0;
  top: 55px;
  z-index: var(--ayong-zindex3);
  box-shadow: 0 4px 10px 0 rgba(55, 99, 170, 0.1);
}

/** **/
.baseCalendar {
  display: block;
  transition: all 0.5s;
  overflow: hidden;
}

.baseCalendarNone {
  height: 0;
  padding: 0;
  border: 0 !important;
}

.baseCalendarShow {
  height: max-content;
}

.picker {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--ayong-font-dark);
  padding: var(--ayong-default-size) var(--ayong-large-size);
  box-sizing: border-box;

  .spacing {
    margin: 0 15px;
  }

  &:hover {
    //
    cursor: pointer;
    color: var(--ayong-primary);
    fill: var(--ayong-primary);
  }

  span:active {
    //css颜色变亮
    filter: brightness(1.1);
  }
}

.footer {
  //触摸手
  cursor: pointer;
  text-align: center;
  color: var(--ayong-primary);
  margin-top: 10px;

  &:active {
    //css颜色变亮
    filter: brightness(1.1);
  }

  &:after {
    position: absolute;
    content: "";
    width: 106%;
    transform: translateX(-3%);
    height: 1px;
    bottom: 28px;
    background: var(--ayong-premium-grey);
  }
}

.icon {
  &:active {
    //css颜色变亮
    filter: brightness(1.1);
  }

  &:hover {
    //
    cursor: pointer;
    fill: var(--ayong-primary);
  }
}

.today {
  color: var(--ayong-primary);
  background: var(--ayong-primary-grey);
}

.SHM {
  position: absolute;
  overflow: hidden;
  height: 0;
  z-index: 100;
  background: var(--ayong-light);
  box-shadow: 0 4px 10px 0 rgba(55, 99, 170, 0.1);
  margin-top: 10px;
  transition: all 0.5s;
}

.SHMShow {
  height: max-content;
}
