.warp {
  width: max-content;
  position: relative;
  z-index: var(--ayong-zindex3);
  //display: inline-block;
}

.main {
  width: 150px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--ayong-radius);
  padding: 0 4px 4px 9px;
  box-sizing: border-box;
  color: var(--ayong-stone-gray);
  font: 400 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid var(--ayong-grey);

  input {
    width: 95%;
    outline: none;
    border: none;
    background: transparent;
  }

  &:hover {
    border: 1px solid var(--ayong-primary);

    .pickerCollapse, .pickerWrong {
      fill: var(--ayong-primary);
    }
  }

}

.pickerWrong {
  display: none;
}

.hoverMain&:hover {
  & {
    .pickerCollapse {
      display: none;
    }
  }

  & {
    .pickerWrong {
      display: block;
    }
  }
}


.baseCalendarabsolute{
  position: absolute;
  left: 0;
  top: 55px;
}


/** **/
.baseCalendar {
  display: block;
  transition: all .5s;
  overflow: hidden;
}

.baseCalendarNone {
  height: 0;
  padding: 0;
  border: 0 !important;
}

.baseCalendarShow {
  height: max-content;
}

.picker {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--ayong-default-size) var(--ayong-large-size);
  box-sizing: border-box;

  .spacing {
    margin: 0 15px;
  }

  &:hover {
    //
    cursor: pointer;
    color: var(--ayong-primary);
    fill: var(--ayong-primary);
  }

  span:active {
    //css颜色变亮
    filter: brightness(1.1);
  }

}

footer {
  //触摸手
  cursor: pointer;
  text-align: center;
  color: var(--ayong-primary);

  &:active {
    //css颜色变亮
    filter: brightness(1.1);
  }
}

.icon {
  &:active {
    //css颜色变亮
    filter: brightness(1.1);
  }

  &:hover {
    //
    cursor: pointer;
    fill: var(--ayong-primary);
  }
}


.today {
  color: var(--ayong-primary);
  background: var(--ayong-primary-grey);
}
