@ayong-message-bg-color: var(--ayong-message-border-color); // 设置变量初始值
.ayongMessage {
  position: fixed;
  top: 0;
  z-index: 1000;
  left: 50%;
  color: var(--ayong-light);
  transform: translateX(-50%);
  padding: 10px 15px;
  border-radius: var(--ayong-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: slideIn 2s cubic-bezier(0.42, 0, 0, 0.99);
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.info {
  fill: var(--ayong-light); //颜色加深
  background: var(--ayong-info);
}

.success {
  fill: var(--ayong-light);; //颜色加深
  background: var(--ayong-primary);
}

.warning {
  background: var(--ayong-warn);
  fill: var(--ayong-light); //颜色加深
}

.error {
  background: var(--ayong-error);
  fill: var(--ayong-light); //颜色加深--ayong-error
}

.close {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  right: 5px;
  top: 50%;
}

.tag {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  left: 5px;
  top: 50%;
}

//写个动画 从上到下 间隔0.5秒 从下到上 然后渐变消失 0.5秒
@keyframes slideIn {
  0% {
    transform: translateY(0) translateX(-50%);

  }
  10% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
  40% {
    transform: translateY(100%) translateX(-50%);
    opacity: 1;
  }
  50% {
    transform: translateY(100%) translateX(-50%);
    opacity: 1;
  }
  90% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 0;
  }
}



