@ayong-message-bg-color: var(--ayong-message-border-color); // 设置变量初始值
.ayongMessage {
  position: fixed;
  top: 0;
  z-index: 1000;
  left: 50%;
  fill: #58BA2DFF; //颜色加深
  transform: translateX(-50%);
  background-color: var(--ayong-beige);
  border: 2px solid var(--ayong-leaf-yellow);
  padding: 10px 15px;
  border-radius: var(--ayong-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: slideIn 2s cubic-bezier(0.42, 0, 0, 0.99);
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.info {
  color: var(--ayong-apricot-yellow);
  fill: var(--ayong-apricot-yellow); //颜色加深
}

.success {
  color: #fff;
  fill: #fff; //颜色加深
  border-color: darken(#8aabec, 10%); //颜色加深
  background: var(--ayong-primary);
}

.warning {
  color: #fff;
  border-color: darken(#d6af0c, 3%); //颜色加深
  background: var(--ayong-warn);
  fill: #fff; //颜色加深
}

.error {
  color: #fff;
  border-color: darken(#f79797, 10%); //颜色加深
  background: var(--ayong-message-error);
  fill: #fff; //颜色加深
}

.close {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  //position: absolute;
  right: 5px;
  top: 50%;
  //transform: translateY(-50%);
}

.tag {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  //position: absolute;
  left: 5px;
  top: 50%;
  //transform: translateY(-50%);
}

//写个动画 从上到下 间隔0.5秒 从下到上 然后渐变消失 0.5秒
@keyframes slideIn {
  0% {
    transform: translateY(0) translateX(-50%);

  }
  10% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
  40% {
    transform: translateY(100%) translateX(-50%);
    opacity: 1;
  }
  50% {
    transform: translateY(100%) translateX(-50%);
    opacity: 1;
  }
  90% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 0;
  }
}



