@import "../../config/style.module.less";

.ayongInput {
  height: var(--ayong-normal-height);
  font-size: var(--ayong-font-size);
  border-radius: var(--ayong-border-radius);
  padding: var(--ayong-default-size);
  border: 1px solid var(--ayong-primary);
  color: var(--ayong-primary);
  background: none;
  box-sizing: border-box;
  &.large {
  height: var(--ayong-large-height);
  }
  &.small {
    height: var(--ayong-small-height);
  }

  &:active { //按压颜色变浅色
    opacity: 0.5;
  }

  &:hover { //触摸颜色变浅色
    opacity: 0.8;
  }

}

//禁用手图标
.notAllowed {
  cursor: not-allowed;

  &:active { //重置按压变化
    opacity: 1;
  }
}

.primary {
  color: var(--ayong-font-color);
  border: 1px solid var(--ayong-primary);
  background: var(--ayong-primary);
}

.small {
  padding: var(--ayong-small-size);
}

.large {
  padding: var(--ayong-large-size);
}
.mini{
  padding: var(--ayong-mini-size);
}
