.button {
  font-size: var(--ayong-default-font-size);
  border-radius: var(--ayong-border-radius);
  padding: var(--ayong-default-size);
  border: 1px solid var(--ayong-grey);
  color: var(--ayong-dark-green-gray);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  outline: none !important;
  margin: 0;
  cursor: pointer;
  transition: all 0.5;
}
.icon {
  fill: var(--ayong-dark-green-gray) !important;
  margin-right: 8px;
}
.iconWihe {
  fill: var(--ayong-font-light) !important;
  margin-right: 8px;
}
.mutual:hover {
  opacity: 0.9;
}
.mutual:active {
  filter: brightness(1.1);
}
.notAllowed {
  cursor: not-allowed;
}
.notAllowed:active {
  opacity: 1;
}
.primary {
  color: var(--ayong-font-light);
  border: 1px solid var(--ayong-primary);
  background: var(--ayong-primary);
}
.dashed {
  border: 1px dashed var(--ayong-primary);
  color: var(--ayong-primary);
  background: none;
}
.text {
  border: 0;
  color: var(--ayong-primary);
}
.error {
  color: var(--ayong-font-light);
  border: 1px solid var(--ayong-error);
  background: var(--ayong-error);
}
.warn {
  color: var(--ayong-font-light);
  border: 1px solid var(--ayong-warn);
  background: var(--ayong-warn);
}
.safe {
  color: var(--ayong-font-light);
  border: 1px solid var(--ayong-safe);
  background: var(--ayong-safe);
}
.small {
  font-size: var(--ayong-font-small-size);
  padding: var(--ayong-small-size);
}
.large {
  padding: var(--ayong-large-size);
  font-size: var(--ayong-large-font-size);
}
.mini {
  font-size: var(--ayong-font-mini-size);
  padding: var(--ayong-mini-size);
}
.circle {
  padding: 10px 10px;
  border-radius: 50%;
}
.strong {
  border-radius: 0;
}
.round {
  border-radius: 999px;
}
.button-container {
  position: relative;
  text-align: center;
}
.loading {
  opacity: 0.7;
}

.qwe {
  a {
    color: beige;
  }
}
/* 按钮点击效果 */
