.formFlexWrap {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 20px;

  .labelBox {
    //超出80%文字省略号
    display: flex;

    span:first-child {
      color: var(--ayong-error);
    }

  }

  .label {
    flex: 1;
    max-width: 100px;
    display: inline-block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--ayong-font-dark);
    padding: 0 10px;
    box-sizing: border-box;

    &::after {
      content: ":";
      margin-left: 5px;
    }

  }

  .required {

    &::before {
      content: "*";
      margin-right: 5px;
      color: var(--ayong-error);

    }
  }

}
