.form {

}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;

  .labelBox {
    //超出80%文字省略号


  }

  .label {
    width: 100px;
    display: inline-block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--ayong-font-dark);
    padding: 0 10px;
    box-sizing: border-box;
  }

}
