@import "../../config/style.module.less";

.ayongSwitch{
  background: rgba(0, 0, 0, 0.25);
  height: 22px;
  line-height: 22px;
  min-width: 44px;
  vertical-align: middle;
  border-radius: 100px;
  position: relative;
  .handle{
    position: absolute;
    top: 2px;
    inset-inline-start: 2px;
    width: 18px;
    height: 18px;
    transition: all 0.2s ease-in-out;
    &::before{
      position: absolute;
      top: 0;
      inset-inline-end: 0;
      bottom: 0;
      inset-inline-start: 0;
      background-color: #fff;
      border-radius: 9px;
      box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
      transition: all 0.2s ease-in-out;
      content: "";
    }
  }
  .inner{

  }
  &.checked {
    background-color:@theme;
    .handle {
      inset-inline-start: calc(100% - 20px);
    }
  }
}
