.tooltipContainer {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;
  z-index: 999;
  transition: opacity 0.3s ease;
}

.tooltip::before {
  // content: '';
  // position: absolute;
  // width: 0;
  // height: 0;
  // border-style: solid;
}

.tooltip.top::before {
  top: 100%;
  left: 50%;
  border-width: 8px 8px 0 8px;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
  transform: translateX(-50%);
}

.tooltip.bottom::before {
  bottom: 100%;
  left: 50%;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
  transform: translateX(-50%);
}

.tooltip.left::before {
  top: 50%;
  right: 100%;
  border-width: 8px 8px 8px 0;
  border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
  transform: translateY(-50%);
}

.tooltip.right::before {
  top: 50%;
  left: 100%;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.8);
  transform: translateY(-50%);
}

.tooltip-container:hover .tooltip {
  opacity: 1;
}

.primary {
  color: var(--ayong-font-light-color);
  border: 1px solid var(--ayong-primary);
  background: var(--ayong-primary);
}

.dashed {
  //虚线 边框
  border: 1px dashed var(--ayong-primary);
  color: var(--ayong-primary);
  background: none;

}

//危险按钮
.error {
  color: var(--ayong-font-light-color);
  border: 1px solid var(--ayong-error);
  background: var(--ayong-error);
}

//警告按钮
.warn {
  color: var(--ayong-font-light-color);
  border: 1px solid var(--ayong-warn);
  background: var(--ayong-warn);
}

//安全健康按钮
.safe {
  color: var(--ayong-font-light-color);
  border: 1px solid var(--ayong-safe);
  background: var(--ayong-safe);
}


.small {
  font-size: var(--ayong-font-small-size);
  padding: var(--ayong-small-size);
}

.large {
  padding: var(--ayong-large-size);
  font-size: var(--ayong-large-font-size);
}

.mini {
  font-size: var(--ayong-font-mini-size);
  padding: var(--ayong-mini-size);
}

