.warp {
  width: max-content;
  position: relative;
  display: inline-block;
}
.main {
  width: max-content;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--ayong-radius);
  padding: 0 4px 4px 9px;
  box-sizing: border-box;
  font: 400 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid var(--ayong-grey);
  position: relative;
}
.main input {
  outline: none;
  border: none;
  background: transparent;
  color: var(--ayong-dark-green-gray);
}
.main:hover {
  border: 1px solid var(--ayong-primary);
}
.main:hover .pickerCollapse,
.main:hover .pickerWrong {
  fill: var(--ayong-primary);
}
.hoverActive::after {
  transition: all 0.5s;
  position: absolute;
  content: '';
  width: 40%;
  height: 1px;
  bottom: 0;
  background: var(--ayong-primary);
}
.hoverActiveLeft::after {
  transform: translateX(120%);
}
.hoverActiveRight::after {
  transform: translateX(0);
}
.swapright {
  position: relative;
  right: 10px;
}
.pickerWrong {
  display: none;
}
.hoverMain:hover .pickerCollapse {
  display: none;
}
.hoverMain:hover .pickerWrong {
  display: block;
}
/** **/
.baseCalendar {
  display: block;
  transition: all 0.5s;
  position: absolute;
  left: 0;
  top: 55px;
  overflow: hidden;
}
.baseCalendarNone {
  height: 0;
  padding: 0;
  border: 0 !important;
}
.baseCalendarShow {
  height: max-content;
}
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 10px 0 var(--ayong-primary-grey);
  position: absolute;
  z-index: var(--ayong-zindex3);
  overflow: hidden;
  background: var(--ayong-light);
}
.dropdown .transverseBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.startInput {
  position: relative;
}
.startInput::after {
  position: absolute;
  content: '';
  width: 100px;
  height: 1px;
  background: var(--ayong-primary);
}
