
.day {
  color: var(--ayong-font-dark);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notCurMonth {
  color: var(--ayong-plaster-grey);
}

.currentDay {
  color: var(--ayong-primary);
}

.selectDay {
  color: var(--ayong-apricot-yellow);
}

.today {
  color: var(--ayong-light);
  border-radius:var(--ayong-radius) ;
  background: var(--ayong-primary);
}

//
