.calendar {
  width: max-content;
  border-radius: var(--ayong-radius);
  border: 1px solid var(--ayong-grey);
  padding: var(--ayong-large-size);
}

.day {

  width: 100px;
  height: 100px;
  border-radius: var(--ayong-radius);
  transition: all 1s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    inset: 0;
    background: radial-gradient(circle,
    var(--ayong-primary-grey) 0%,
    var(--ayong-primary) 100%);
    background:#000;
    border-radius: inherit;
    z-index: 2;
    transform: translate(var(--x, -1000px), var(--y, -1000px));

  }

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ayong-font-dark);
    position: absolute;
    width: 98%;
    height: 98%;
    background: var(--ayong-light);
    z-index: 3;


  }

  &:hover {
    cursor: pointer;
  }

}


.card {
  width: 50px;
  height: 50px;
}

.show {
  opacity: 1;
}

.none {
  opacity: 0;
}

.notCurMonth {
  color: var(--ayong-plaster-grey);
}

.currentDay {
  color: var(--ayong-primary);
}

.selectDay {
  color: var(--ayong-apricot-yellow);
}

.onSelect {
  background: var(--ayong-primary-grey);
}

.today {
  color: var(--ayong-primary);
  background: var(--ayong-primary-grey);
}
