.star {
  display: inline-block;
  margin-right: 5px; /* 为星星之间添加一些间距 */
  width: 20px; /* 调整星星的宽度 */
  height: 20px; /* 调整星星的高度 */
  position: relative;
  //background: #cfcfcf;
  margin-left: 10px;
  cursor: 'pointer';
  //clip-path: polygon(50% 0%,
  //61.8% 35.4%,
  //100% 35.4%,
  //69.1% 57.3%,
  //80.9% 92.7%,
  //50% 71.8%,
  //19.1% 92.7%,
  //30.9% 57.3%,
  //0% 35.4%,
  //38.2% 35.4%);


  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }


}
//filter: grayscale(1);
.star::before {
  content: '⭐️'; /* 使用实心星号字符，可以根据需求更换为其他字符 */
  font-size: 20px; /* 调整星星的大小 */
  color: grey; /* 未选择的星星颜色 */
  transition: color 0.2s ease-in-out;
  border-radius: 50%; /* 调整星星的圆角 */
}

.active {
  color: gold; /* 已选择的星星颜色 */
  //background: gold; /* 已选择的星星颜色 */
}
